* {
  margin: 0;
}

.App {
  background-color: rgb(101, 245, 245);
  height: 100vh;
}

.usersDisplay {
  display: flex;
}

.usersDisplay > li {
  padding: 10px;
  margin: 10px;
  border: 5px solid rgb(80, 43, 211);
}

.enterUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 143, 111);
  height: 100vh;
}

label {
  font-size: 24px;
  font-weight: bold;
}

input {
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-bottom: 5px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
}

button {
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
